@model IEnumerable<HotelBookingMVC.Finalproject2.ViewModels.FeedbackViewModel>

@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/HotelsLayout.cshtml"; 
}

<h1 class="text-center">Feedback Manager</h1>



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light text-center rounded p-4">
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Hotel</th>
                                <th scope="col">Star Rating</th>
                                <th scope="col">Comment</th>
                                <th scope="col">User Email</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.HotelName</td>
                                    <td>@item.StarRating</td>
                                    <td>@item.Comment</td>
                                    <td>@item.UserEmail</td>
                                    <td>@item.DateCreated</td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.FeedbackID" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
