@using HotelBookingMVC.Finalproject2.Data.Entities
@model HotelBookingMVC.Finalproject2.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Room Details";
    Layout = "~/Views/Shared/DetailsRoomsLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h2 class="text-center mb-4">Room Details</h2>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Room Number</h4>
            <p class="form-control">@Model.RoomNumber</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Type</h4>
            <p class="form-control">@Model.Type</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Price Per Night</h4>
            <p class="form-control">@Model.PricePerNight</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Description</h4>
            <p class="form-control">@Model.Description</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Availability</h4>
            <p class="form-control">@Model.Availability</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Media</h4>
            <div class="d-flex flex-wrap">
                @foreach (var media in Model.MediaViewModels)
                {
                    if (media.MediaType == MediaType.Image)
                    {
                        <img src="@media.FilePath" alt="Image" style="width: 100px; height: auto; margin-right: 10px;" />
                    }
                    else if (media.MediaType == MediaType.Video)
                    {
                        <video width="100" controls style="margin-right: 10px;">
                            <source src="@media.FilePath" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    }
                }
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Edit" asp-route-id="@Model.RoomID" class="btn btn-primary">Edit</a>
            <a asp-action="Index" asp-route-hotelId="@Model.HotelID" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
