@model IEnumerable<HotelBookingMVC.Finalproject2.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "Rooms - " + ViewBag.HotelName;
    Layout = "~/Views/Shared/HotelsLayout.cshtml";
}

<h1 class="text-center">Rooms for @ViewBag.HotelName</h1>

<p class="text-center">
    <a href="@Url.Action("Create", new { hotelId = ViewBag.HotelID })" class="btn btn-primary">Create New Room</a>
</p>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light text-center rounded p-4">
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Room Number</th>
                                <th scope="col">Type</th>
                                <th scope="col">Price Per Night</th>
                                <th scope="col">Description</th>
                                <th scope="col">Availability</th>
                                <th scope="col">Media</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var room in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => room.RoomNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => room.Type)</td>
                                    <td>@Html.DisplayFor(modelItem => room.PricePerNight)</td>
                                    <td>@Html.DisplayFor(modelItem => room.Description)</td>
                                    <td>
                                        @if (room.Availability)
                                        {
                                            <span class="text-success">Available</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Booked</span>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var media in room.MediaViewModels)
                                        {
                                            if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                                            {
                                                <img src="~/media/room/img/@media.FileName" alt="Image" style="width: 100px; height: auto;" />
                                            }
                                            else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                                            {
                                                <div style="width: 300px; height: 170px; overflow: hidden; display: flex; justify-content: center; align-items: center; background-color: #000;">
                                                    <video style="width: 100%; height: auto;" controls>
                                                        <source src="~/media/room/video/@media.FileName" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                    </video>
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@room.RoomID" class="btn btn-success">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@room.RoomID" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
