@model IEnumerable<HotelBookingMVC.Finalproject2.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "Rooms - " + ViewBag.HotelName;
    Layout = "~/Views/Shared/RoomsLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container-fluid pt-4 px-4">
    <div class="h-100 p-4">
        <h1>Rooms for @ViewBag.HotelName</h1>
        <button type="button" class="btn btn-info" onclick="showCart()">Show Cart</button>
        <div class="d-flex justify-content-end my-3">
            <a href="@Url.Action("Create", new { hotelId = ViewBag.HotelID })" class="btn btn-primary">Create New Room</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Type</th>
                        <th>Price Per Night</th>
                        <th>Description</th>
                        <th>Availability</th>
                        <th>Media</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => room.RoomNumber)</td>
                            <td>@Html.DisplayFor(modelItem => room.Type)</td>
                            <td>@Html.DisplayFor(modelItem => room.PricePerNight)</td>
                            <td>@Html.DisplayFor(modelItem => room.Description)</td>
                            <td>@Html.DisplayFor(modelItem => room.Availability)</td>
                            <td>
                                @foreach (var media in room.MediaViewModels)
                                {
                                    if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                                    {
                                        <img src="~/media/room/@room.RoomID/img/@media.FileName" alt="Image" style="width: 100px; height: auto;" />
                                    }
                                    else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                                    {
                                        <video width="100" controls>
                                            <source src="~/media/room/@room.RoomID/video/@media.FileName" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@room.RoomID" class="btn btn-success">Edit</a>
                                <a asp-action="Details" asp-route-id="@room.RoomID" class="btn btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@room.RoomID" class="btn btn-danger">Delete</a>
                                <form id="add-to-cart-form-@room.RoomID" method="post" style="display:inline;">
                                    <button type="button" class="btn btn-primary" onclick="openBookingModal('@room.RoomID', '@room.PricePerNight')">Add to Cart</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Book Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="booking-form">
                    <div class="form-group">
                        <label for="check-in-date">Check-In Date and Time</label>
                        <input type="text" class="form-control" id="check-in-date" name="CheckInDate" />
                    </div>
                    <div class="form-group">
                        <label for="check-out-date">Check-Out Date and Time</label>
                        <input type="text" class="form-control" id="check-out-date" name="CheckOutDate" />
                    </div>
                    <input type="hidden" id="room-id" name="RoomID" />
                    <input type="hidden" id="price" name="Price" />
                    <button type="button" class="btn btn-primary" onclick="addToCart()">Add to Cart</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cartModalBody">
                <!-- Cart content will be loaded here via AJAX -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Go to Cart</a>
            </div>
        </div>
    </div>
</div>

<script>
    function openBookingModal(roomId, price) {
        $('#room-id').val(roomId);
        $('#price').val(price);
        $('#bookingModal').modal('show');

        flatpickr('#check-in-date', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i:S',
        });
        flatpickr('#check-out-date', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i:S',
        });
    }

    function addToCart() {
        var roomId = $('#room-id').val();
        var price = $('#price').val();
        var checkInDate = $('#check-in-date').val();
        var checkOutDate = $('#check-out-date').val();

        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: {
                productId: roomId,
                price: price,
                quantity: 1,
                checkInDate: checkInDate,
                checkOutDate: checkOutDate
            },
            success: function(response) {
                if (response.success) {
                    alert('Room added to cart.');
                    $('#bookingModal').modal('hide');
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function showCart() {
        $.ajax({
            url: '@Url.Action("Index", "Cart")',
            type: 'GET',
            success: function(response) {
                $('#cartModalBody').html(response);
                $('#cartModal').modal('show');
            }
        });
    }
</script>
