@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<string, List<HotelBookingMVC.Finalproject2.ViewModels.HotelViewModel>>

<section class="pc_carousel pb-5">
    <div class="owl-carousel owl-theme" id="owl-banner">
        <div class="carousel_item">
            <div class="carousel_info">
                <div class="container">
                    <div class="banner_info text-start">
                        <h5>Welcome to Greenwich Booking</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, repellendus?</p>
                        <a href="#" class="btn btn_white btn_style mt-sm-5 mt-4 me-2">Read more</a>
                        <a href="./html/contact.html" class="btn btn_border btn_style mt-sm-5 mt-4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Search Section -->
<section class="container search">
    <form asp-action="Search" method="get" class="booking__form shadow">
        <div class="input__group">
            <span><i class="fa-solid fa-location-dot"></i></span>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" placeholder="Enter city" />
            </div>
        </div>
        <div class="input__group">
            <span><i class="fa-solid fa-calendar-days"></i></span>
            <div>
                <label for="check-in">CHECK-IN</label>
                <input type="date" id="check-in" name="check-in" placeholder="Check In" />
            </div>
        </div>
        <div class="input__group">
            <span><i class="fa-solid fa-calendar-days"></i></span>
            <div>
                <label for="check-out">CHECK-OUT</label>
                <input type="date" id="check-out" name="check-out" placeholder="Check Out" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary input__group p-2">
            <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
    </form>
</section>

<!-- Product Popular Section -->
<section class="product">
    <div class="container">
        <div class="product_title">
            <h2>Most Popular Hotels</h2>
        </div>
        <div class="product_content">
            @if (Model != null && Model.Any())
            {
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    @foreach (var city in Model.Keys)
                    {
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(Model.Keys.First() == city ? "active" : "")"
                                    id="pills-@city.Replace(" ", "")-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#@city.Replace(" ", "")"
                                    type="button" role="tab">
                                @city
                            </button>
                        </li>
                    }
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    @foreach (var city in Model.Keys)
                    {
                        <div class="tab-pane fade @(Model.Keys.First() == city ? "show active" : "")"
                             id="@city.Replace(" ", "")" role="tabpanel">
                            <div class="row gy-5 gx-5">
                                @foreach (var hotel in Model[city])
                                {
                                    <div class="col-xl-4 col-md-6 col-sm-12">
                                        <a href="@Url.Action("Details", "Home", new { id = hotel.HotelID })">
                                            <div class="product_item shadow rounded">
                                                <div class="media_container">
                                                    @foreach (var media in hotel.Media)
                                                    {
                                                        if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                                                        {
                                                            <img class="w-100 rounded-top" src="~/media/hotel/img/@media.FileName" alt="@hotel.Name" />
                                                            break; // Display only the first image
                                                        }
                                                        else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                                                        {
                                                            <video class="w-100 rounded-top" controls>
                                                                <source src="~/media/hotel/video/@media.FileName" type="video/mp4">
                                                                Your browser does not support the video tag.
                                                            </video>
                                                            break; // Display only the first video
                                                        }
                                                    }
                                                </div>
                                                <div class="product_text rounded p-2">
                                                    <h3>@hotel.Name</h3>
                                                    <p>
                                                        <i class="fa-solid fa-location-dot"></i> @hotel.City, @hotel.State
                                                        <br /><br />
                                                        <span class="feedback_score rounded">4.5</span> Nice
                                                        <span class="feedback_number">300 feedback</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No hotels found matching your search criteria.</p>
            }
        </div>
    </div>
</section>

<!-- Subscribe Section -->
<section class="pc_subscribe pb-5">
    <div class="container py-md-4 py-3 text-center">
        <div class="row my-lg-4 mt-4">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="subscribe_content">
                    <div class="pc_title">
                        <h2>Stay Updated!</h2>
                        <p class="my-3">
                            Subscribe to our newsletter to get the latest updates on deals and discounts.
                        </p>
                    </div>
                    <form action="#" method="post" class="pt-2 mt-5" id="subscribe">
                        <div class="d-md-flex flex-wrap justify-content-between">
                            <input type="email" class="form-control" placeholder="Enter your email..." name="Email" required />
                            <button class="btn btn-style btn-success" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
