@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<string, List<HotelBookingMVC.Finalproject2.ViewModels.HotelViewModel>>

<section class="pc_carousel pb-5">
    <div class="owl-carousel owl-theme" id="owl-banner">
        <div class="carousel_item">
            <div class="carousel_info">
                <div class="container">
                    <div class="banner_info text-start">
                        <h5>Welcome to Greenwich Booking</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A,
                            repellendus?
                        </p>
                        <a href="" class="btn btn_white btn_style mt-sm-5 mt-4 me-2">Read more</a>
                        <a href="./html/contact.html"
                           class="btn btn_border btn_style mt-sm-5 mt-4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_item carousel_item2">
            <div class="carousel_info">
                <div class="container">
                    <div class="banner_info ms-lg-auto">
                        <h5>Welcome to Greenwich Booking</h5>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            At, facere?
                        </p>
                        <a href="" class="btn btn_white btn_style mt-sm-5 mt-4 me-2">Read more</a>
                        <a href="./html/contact.html"
                           class="btn btn_border btn_style mt-sm-5 mt-4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_item carousel_item3">
            <div class="carousel_info">
                <div class="container">
                    <div class="banner_info text-start">
                        <h5>Welcome to Greenwich Booking</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquid, consequatur.
                        </p>
                        <a href="" class="btn btn_white btn_style mt-sm-5 mt-4 me-2">Read more</a>
                        <a href="./html/contact.html"
                           class="btn btn_border btn_style mt-sm-5 mt-4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_item carousel_item4">
            <div class="carousel_info">
                <div class="container">
                    <div class="banner_info ms-lg-auto">
                        <h5>Welcome to Greenwich Booking</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Necessitatibus, qui.
                        </p>
                        <a href="" class="btn btn_white btn_style mt-sm-5 mt-4 me-2">Read more</a>
                        <a href="./html/contact.html"
                           class="btn btn_border btn_style mt-sm-5 mt-4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Search Section -->
<section class="container search">
    <form asp-action="Search" method="get" class="booking__form shadow">
        <div class="input__group">
            <span><i class="fa-solid fa-location-dot"></i></span>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" placeholder="Enter city" />
            </div>
        </div>
       
        <button type="submit" class="btn btn-primary input__group p-2">
            <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
    </form>
</section>

<!-- OFFER  -->
<section class="offer pt-5">
    <div class="container py-5">
        <div class="offer_content row g-0 g-sm-2">
            <div class="offer_left col-12 col-xl-6 p-3">
                <img src="~/img/our-features.jpg" alt="" class="img-fluid" />
            </div>
            <div class="offer_right col-12 col-xl-6 p-3">
                <p class="subtitle">Benefits</p>
                <h2 class="py-2">Happening cities</h2>
                <p class="py-3">
                    Accompanying us, you have a trip full of experiences. With
                    Chisfis, booking accommodation, resort villas, hotels, private
                    houses, apartments... becomes fast, convenient and easy..
                </p>
                <ul>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        Cost-effective advertising
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        Reach millions with Student Greenwich
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        Secure and simple
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        Customer Supports
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Product Popular Section -->
<section class="product">
    <div class="container">
        <div class="product_title">
            <h2>Most Popular Hotels</h2>
        </div>
        <div class="product_content">
            @if (Model != null && Model.Any())
            {
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    @foreach (var city in Model.Keys)
                    {
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(Model.Keys.First() == city ? "active" : "")"
                                    id="pills-@city.Replace(" ", "")-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#@city.Replace(" ", "")"
                                    type="button" role="tab">
                                @city
                            </button>
                        </li>
                    }
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    @foreach (var city in Model.Keys)
                    {
                        <div class="tab-pane fade @(Model.Keys.First() == city ? "show active" : "")"
                             id="@city.Replace(" ", "")" role="tabpanel">
                            <div class="row gy-5 gx-5">
                                @foreach (var hotel in Model[city])
                                {
                                    <div class="col-xl-4 col-md-6 col-sm-12">
                                        <a href="@Url.Action("Details", "Home", new { id = hotel.HotelID })">
                                            <div class="product_item shadow rounded">
                                                <div class="media_container">
                                                    @foreach (var media in hotel.Media)
                                                    {
                                                        if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                                                        {
                                                            <img class="w-100 rounded-top" src="~/media/hotel/img/@media.FileName" alt="@hotel.Name" />
                                                            break; // Display only the first image
                                                        }
                                                        else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                                                        {
                                                            <video class="w-100 rounded-top" controls>
                                                                <source src="~/media/hotel/video/@media.FileName" type="video/mp4">
                                                                Your browser does not support the video tag.
                                                            </video>
                                                            break; // Display only the first video
                                                        }
                                                    }
                                                </div>
                                                <div class="product_text rounded p-2">
                                                    <h3>@hotel.Name</h3>
                                                    <p>
                                                        <i class="fa-solid fa-location-dot"></i> @hotel.City, @hotel.State
                                                        <br /><br />
                                                        <span class="feedback_score rounded">4.5</span> Nice
                                                        <span class="feedback_number">300 feedback</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No hotels found matching your search criteria.</p>
            }
        </div>
    </div>
</section>

<!-- FEATURES -->
<section class="features">
    <div class="container">
        <div class="features_content">
            <div class="row g-0 g-sm-4">
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-hotel"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Unlimited Seasonal Pricing</a>
                        </h4>
                        <p>
                            Allow you to set up different rate on different period. This
                            feature will allow you to increase price in high season and
                            decrease in low season.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-credit-card"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Popular Payment Gateways </a>
                        </h4>
                        <p>
                            Hotel Master comes with the most popular internet payment,
                            Paypal. Credit card also supported via Stripe and
                            Authorized.net
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-list-check"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Booking Manager</a>
                        </h4>
                        <p>
                            Booking Manager comes necessary informations such as
                            customer contact info, room details and button to approve
                            and cancel booking.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-percent"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Coupon Code</a>
                        </h4>
                        <p>
                            Create your own campaign on special occasion or give away to
                            customers. You can set amount, expiry date, discount type ($
                            or %) and assign to specific rooms.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-bowl-food"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Foods</a>
                        </h4>
                        <p>
                            Hotels always support dishes so customers can book and enjoy
                            the hotel's local dishes.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 p-sm-4">
                    <div class="item_bg">
                        <div class="icon">
                            <i class="fa-solid fa-wallet"></i>
                        </div>
                        <h4>
                            <a href="#" class="title-head">Accept Deposit </a>
                        </h4>
                        <p>
                            With this feature, your customers will be able to pay the
                            deposit via the system and pay the rest amount on arrival.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


