﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- owl-carousel css  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/product_detail.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="header_content">
                <div class="header_logo">
                    <a class="name_logo" href="@Url.Action("Index", "Home")">
                        <span>Greenwich Booking</span>
                    </a>
                    <ul class="">
                        <li class="mx-5">
                            <div class="iconCart" onclick="showCart()">
                                <i class="fa-solid fa-cart-shopping cart_logo z-1"></i>
                                <div class="totalQuality">0</div> <!-- Số lượng sẽ được cập nhật -->
                            </div>
                        </li>
                        <div class="dark_mode d-flex align-items-center justify-content-between" style="padding: 10px;">
                            <span class="text-dark">Hello, @User.Identity?.Name!</span>

                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-primary">Logout</button>
                            </form>


                        </div>

                        <li>
                            <a href="/Identity/Account/Login">
                                <button class="btn-primary">Login</button>
                            </a>
                        </li>


                        <li>
                            <button class="dark_mode" id="switch-mode">
                                <i class="bi bi-moon-stars-fill"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link"  aria-current="page" href="@Url.Action("Hotels", "Home")">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="active" href="@Url.Action("Hotels", "Home")">
                                        <i class="fa-solid fa-hotel"></i> Hotel
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contact", "Home")">
                                        <i class="fa-solid fa-phone"></i><span> Contact</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Home/AboutUs">
                                        <i class="fa-solid fa-comment"></i><span> About Us</span>
                                    </a>
                                </li>
                                <li>
                                    <button class="dark_mode_1" id="switch-mode_1">
                                        <i class="bi bi-moon-stars-fill"></i>
                                    </button>
                                </li>
                                <li>
                                    <div class="dark_mode_1">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style=" margin-right: 30px">Hello @User.Identity?.Name!</a>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="btn btn-primary">Logout</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer1">
            <div class="container">
                <div class="contact_content d-flex row">
                    <div class="contact_item col-sm-12 col-md-12 col-xl-6">
                        <h2>Contact information</h2>
                        <ul>
                            <li>
                                <p><strong>Address: </strong> 20 Cong Hoa, District 12, Ho Chi Minh city </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Phone</strong>
                                    : <a href=" tel: 0856996979"> 085699679 </a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Email</strong>
                                    :
                                    <a href="">
                                        <span class="__cf_email__"
                                              data-cfemail="701508111d001c15301d11191c5e131f1d">Greenwich@fpt.edu.vn</span>
                                    </a>
                                </p>
                            </li>
                        </ul>
                        <ul class="contact_icon d-flex">
                            <li>
                                <a href="https://www.facebook.com/GreenwichVietnam">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>


                            <li>
                                <a href="https://greenwich.edu.vn/en/english/">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact_item col-sm-4 col-md-4 col-xl-2">
                        <h2>Archives</h2>
                        <ul>
                            <li>
                                <a href="#">December 2024</a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact_item col-sm-4 col-md-4 col-xl-2">
                        <h2>Categories</h2>
                        <ul>
                            <li><a href="~/Home">Home</a></li>
                            <li><a href="~/Home/Hotels">Hotels</a></li>
                            <li><a href="~/Home/Contact">Contact</a></li>
                            <li><a href="~/Home/AboutUs">About Us</a></li>
                        </ul>
                    </div>
                    <div class="contact_item col-md-4 col-xl-2">
                        <h2>Meta</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/dangvietminhman">Mẫn Đặng</a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100015993336291">Trung Tín</a></li>
                            <li><a href="https://www.facebook.com/shnahts0501">Minh Thành</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_copy text-center">
                <p class="d-inline">
                    <i class="fa-regular fa-copyright"></i> 2024 All Rights Reserved by
                </p>
                <a href="#">Thanh Nguyen.</a>
            </div>
        </div>
    </footer>

    <!-- Cart Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cartModalBody">
                    <!-- Cart content will be loaded here via AJAX -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#"
       class="cd-top text-replace js-cd-top btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </a>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
            integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <!-- owl carousel js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
          $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            responsive: {
              0: {
                items: 1,
                nav: false,
              },
              480: {
                items: 1,
                nav: false,
              },
              667: {
                items: 1,
                nav: true,
              },
              1000: {
                items: 1,
                nav: true,
              },
            },
          });
        });
    </script>
    <script>
        function openBookingModal(roomId, price) {
            $('#room-id').val(roomId);
            $('#price').val(price);
            $('#bookingModal').modal('show');

            flatpickr('#check-in-date', {
                enableTime: true,
                dateFormat: 'Y-m-d H:i:S',
            });
            flatpickr('#check-out-date', {
                enableTime: true,
                dateFormat: 'Y-m-d H:i:S',
            });
        }

                function updateCartQuantity() {
            $.ajax({
                url: '/Cart/GetCartQuantity', // Gọi Action để lấy tổng số lượng sản phẩm
                type: 'GET',
                success: function (response) {
                    $('.totalQuality').text(response.quantity); // Cập nhật số lượng hiển thị
                },
                error: function () {
                    console.error("Failed to update cart quantity.");
                }
            });
        }

        function addToCart() {
            var roomId = $('#room-id').val();
            var price = $('#price').val();
            var checkInDate = $('#check-in-date').val();
            var checkOutDate = $('#check-out-date').val();

            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: {
                    productId: roomId,
                    price: price,
                    quantity: 1, // Thêm sản phẩm với số lượng mặc định là 1
                    checkInDate: checkInDate,
                    checkOutDate: checkOutDate
                },
                success: function (response) {
                    if (response.success) {
                        alert('Room added to cart.');
                        $('#bookingModal').modal('hide');
                        updateCartQuantity(); // Cập nhật số lượng trên biểu tượng giỏ hàng
                    } else {
                        alert(response.message);
                    }
                }
            });
        }

        $(document).ready(function () {
            updateCartQuantity(); // Cập nhật số lượng khi tải trang
        });


        function showCart() {
            $.ajax({
                url: '@Url.Action("Index", "Cart")',
                type: 'GET',
                success: function(response) {
                    $('#cartModalBody').html(response);
                    $('#cartModal').modal('show');
                }
            });
        }
    </script>

    <script src="~/js/main.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/style.js"></script>

</body>
</html>