@model HotelBookingMVC.Finalproject2.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DetailsHotelsLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h2 class="text-center mb-4">Hotel Information</h2>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Name</h4>
            <p class="form-control">@Model.Name</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Address</h4>
            <p class="form-control">@Model.Address</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">City</h4>
            <p class="form-control">@Model.City</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">State</h4>
            <p class="form-control">@Model.State</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Zip Code</h4>
            <p class="form-control">@Model.ZipCode</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Phone Number</h4>
            <p class="form-control">@Model.PhoneNumber</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Email</h4>
            <p class="form-control">@Model.Email</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Description</h4>
            <p class="form-control">@Model.Description</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Media</h4>
            <div class="d-flex flex-wrap">
                @foreach (var media in Model.Media)
                {
                    if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                    {
                        <img src="~/media/hotel/@Model.HotelID/img/@media.FileName" alt="Image" style="width: 100px; height: auto; margin-right: 10px;" />
                    }
                    else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                    {
                        <video width="100" controls style="margin-right: 10px;">
                            <source src="~/media/hotel/@Model.HotelID/video/@media.FileName" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    }
                }
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Edit" asp-route-id="@Model.HotelID" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
