@model IEnumerable<HotelBookingMVC.Finalproject2.ViewModels.HotelViewModel>

@{
    ViewData["Title"] = "Hotels";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="text-center">Hotels Manager</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New Hotel</a>
</p>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light text-center rounded p-4">
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">City</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">Media</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>
                                        @foreach (var media in item.Media)
                                        {
                                            if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Image)
                                            {
                                                <img src="~/media/hotel/img/@media.FileName" alt="Image" style="width: 100px; height: auto;" />
                                            }
                                            else if (media.MediaType == HotelBookingMVC.Finalproject2.Data.Entities.MediaType.Video)
                                            {
                                                <div style="width: 300px; height: 170px; overflow: hidden; display: flex; justify-content: center; align-items: center; background-color: #000;">
                                                    <video style="width: 100%; height: auto;" controls>
                                                        <source src="~/media/hotel/video/@media.FileName" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                    </video>
                                                </div>

                                            }
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.HotelID" class="btn btn-success">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.HotelID" class="btn btn-info">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.HotelID" class="btn btn-danger">Delete</a>
                                        <a asp-controller="Rooms" asp-action="Index" asp-route-hotelId="@item.HotelID" class="btn btn-warning">Manage Rooms</a>
                                        <a asp-controller="Feedbacks" asp-action="Create" asp-route-hotelId="@item.HotelID" class="btn btn-secondary">Feedback</a> <!-- Nút Feedback -->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
