@model HotelBookingMVC.Finalproject2.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/DetailsDashboardLayout.cshtml"; 
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h2 class="text-center mb-4">User Information</h2>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">ID</h4>
            <p class="form-control">@Model.Id</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Email</h4>
            <p class="form-control">@Model.Email</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Email Confirmed</h4>
            <p class="form-control">@Model.EmailConfirmed</p>
        </div>

        <div class="border p-3 mb-3 rounded">
            <h4 class="text-secondary">Roles</h4>
            <ul class="form-control" style="list-style-type: none; padding-left: 0; margin: 0;">
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
